<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório</title>
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">    
    <style>
        * {
            font-size: 11.0pt;
            font-family: "Calibri",sans-serif;
        } 

        #table-tickets {          
          border-collapse: collapse;
          width: 100%;
          text-indent: initial;
          width: 1072.4pt;
          border-collapse: collapse;
        }
        
        #table-tickets td {
          border: none;
          border-bottom: solid #70AD47 1.0pt;
          padding: 2px;
          font-size: 10.0pt;
          text-align: center;
        }      
        
        #table-tickets tr:nth-child(even){background-color: #f2f2f2;}
        
        #table-tickets tr:hover {background-color: #ddd;}
        
        #table-tickets th {
          padding-top: 2px;
          padding-bottom: 2px;
          border: solid #70AD47 1.0pt;
          padding: 2px;
          text-align: center;
          background-color: #70AD47;
          color: white;
          font-size: 10.0pt;
        }

        #table-tickets .td-status {
            font-size:14.0pt;font-family:Wingdings;color:red;text-align: center;
        }
        #table-tickets .td-origemEquipa {
            font-size:14.0pt;font-family:Wingdings;color:red;text-align: center;
        }
    </style>
</head>
<div>
    <p class="MsoNormal"><span style="font-size:9.0pt;color:black;">Caros,<o:p></o:p></span></p>
    <p class="MsoNormal"><span style="font-size:9.0pt;color:black;"><o:p>&nbsp;</o:p></span></p>
    <p class="MsoNormal"><span style="font-size:9.0pt;color:black;">A situação atual é :<o:p></o:p></span></p>
</div>   
<div class="m-8">           
    <table id="table-tickets">
        <thead>
            <tr>
                <th> </th>
                <th>ID</th>
                <th>Ambiente</th>
                <th>Grupo Atribuído</th>    
                <th>Recurso Atribuído</th>    
                <th>Data<br>Abertura</th>  
                <th>Idade<br>(Dias)</th>
                <th>Última<br>Interação</th>  
                <th>Dias<br>Parado</th>
                <th>Origem do<br>Pedido</th>  
                <th>Origem na<br>Equipa</th>
            </tr>
        </thead>
        <tbody>
        <% if (tickets.length > 0) { %>
            <% tickets.forEach(ticket => { %>
                <tr>
                    <td class="td-status"><%= ticket.status %></td>
                    <td><%= ticket.id %></td>
                    <td><%= ticket.ambiente %></td>
                    <td><%= ticket.grupoAtribuido %></td>
                    <td><%= ticket.recursoAtribuido %></td>
                    <td><%= ticket.dataAbertura %></td>
                    <td><%= ticket.idade %></td>
                    <td><%= ticket.ultimaInteracao %></td>
                    <td><%= ticket.diasParado %></td>
                    <td><%= ticket.origemPedido %></td>
                    <td class="td-origemEquipa"><%= ticket.origemEquipa %></td>
                </tr>
            <%  }); %>
        <% } %>
        </tbody>
        <tfoot>
            <tr><td colspan="2"><%=tickets.length%> tickets</td></tr>
        </tfoot>
    </table>
    <br>
    <p><span>Especial atenção aos <b>tickets mais antigos</b> e aos<b> tickets com origem na equipa</b> .</span></p>
    <ul>
        <li><p><span>Para os tickets com origem na equipa e que estejam resolvidos ou já não sejam necessários, cancelem, sff o REQUEST</span></p></li>
        <li><p><span>Para os tickets com origem na equipa e que se encontram em curso, coloquem as informaçõess necessárias e enviem para a equipa respetiva para seguimento</span></p></li>
        <li><p><span>Para os tickets com origem fora da equipa com origem na DSI (visa ITSM) e que já não sejam necessários, fechem com o estado CANCELLED e motivo NO LONGER NEEDED</span></p></li>
        <li><p><span>Para os tickets com origem fora da equipa com origem fora da DSI (visa EASYFLOW) e que já não sejam necessários, fechem com o estado COMPLETED e com “Já não é necessário. Cancelar o EASYFLOW.” no campo RESOLUTION</span></p></li>
        <li><p><span>Para os tickets com origem fora da equipa e que estão resolvidos, fechem com o estado RESOLVED (os incidentes) ou COMPLETED (as workorders)</span></p></li>
        <li><p><span>Para os tickets com origem fora da equipa e que se encontram em curso, deixem estar na equipa e se possível atribuam ao recurso correto ( caso não esteja já … e tentem dar seguimento ASAP! )</span></p></li>
    </ul>
</div>
 <div>
    <p class="MsoNormal"><span style="font-size:9.0pt;color:black;">Cumprimentos,<o:p></o:p></span></p>
    <p class="MsoNormal"><span style="font-size:9.0pt;color:navy;"><o:p>&nbsp;</o:p></span></p>
    <p class="MsoNormal"><b><span style="font-size:9.0pt;color:black;">Bruno Maia<o:p></o:p></span></b></p>
    <p class="MsoNormal"><span style="font-size:9.0pt;color:black;">DSI - DIS - Risco e Reporting – Risco Global<o:p></o:p></span></p>
    <p class="MsoNormal"><span style="font-size:9.0pt;color:gray;">Email: </span><span style="font-size:9.0pt;color:gray;"><a href="mailto:bruno.maia@novobanco.pt"><span style="color:gray">bruno.maia@novobanco.pt</span></a></span><span style="font-size:9.0pt;color:gray;"><o:p></o:p></span></p>
    <p class="MsoNormal"><span style="font-size:9.0pt;color:gray;">Ext...: 256 414&nbsp; <o:p></o:p></span></p>
    <p class="MsoNormal"><span style="font-size:9.0pt;color:gray;">Tel...: 218 831 778<o:p></o:p></span></p>
    <p class="MsoNormal"><span style="font-size:9.0pt;color:black;">- - -<o:p></o:p></span></p>
    <p class="MsoNormal"><span style="font-size:9.0pt;color:black;">Neotalent<o:p></o:p></span></p>
    <p class="MsoNormal"><span style="font-size:9.0pt;color:gray;">Email: </span><span style="font-size:9.0pt;color:gray;"><a href="mailto:bruno.gaspar.maia@novabase.pt" title="mailto:bruno.gaspar.maia@novabase.pt"><span style="color:gray">bruno.gaspar.maia@neotalent.pt</span></a></span><span style="font-size:9.0pt;color:gray;"><o:p></o:p></span></p>
    <p class="MsoNormal"><span style="font-size:9.0pt;color:gray;">Tlm..: 963 127&nbsp;504<o:p></o:p></span></p>
</div> 
