<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Tickets DSI-DIS-RG</title>
    <link ng-href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" type="text/css" rel="stylesheet">
    <style>
        .div-container {
            margin: 15px;
        }

        .div-titulo,
        .div-tabela,
        .div-observacoes,
        .div-rodape {
            font-size: 10.0pt;
            font-family: "Calibri", sans-serif;            
        }

        .div-observacoes li {
            color: #808080;
        }

        .div-rodape p {
            margin: 0;
        }
        .div-graficos {
            width: 1072.4pt;
        }

        .tab-graficos {
            width: 100%;
        }

        .tab-graficos td {
            width: 33%;
            padding: 10px;
            border: solid #70AD47 1.0pt;
        }

        #table-tickets {
            border-collapse: collapse;
            text-indent: initial;
            width: 1072.4pt;
            border-collapse: collapse;
        }

        #table-tickets td {
            border: none;
            border-bottom: solid #70AD47 1.0pt;
            padding: 0;
            font-size: 10.0pt;
            text-align: center;
        }

        #table-tickets tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #table-tickets tr:hover {
            background-color: #ddd;
        }

        #table-tickets th {          
            border: solid #70AD47 1.0pt;
            padding: 0;
            text-align: center;
            background-color: #70AD47;
            color: white;
            font-size: 10.0pt;
        }

        #table-tickets .td-status-gray {
            font-size: 14.0pt;
            font-family: Wingdings;
            color: #808080;
            text-align: center;
        }

        #table-tickets .td-status-blue {
            font-size: 14.0pt;
            font-family: Wingdings;
            color: #4472c4;
            text-align: center;
        }

        #table-tickets .td-status-brown {
            font-size: 14.0pt;
            font-family: Wingdings;
            color: #c65911;
            text-align: center;
        }

        #table-tickets .td-status-red {
            font-size: 14.0pt;
            font-family: Wingdings;
            color: #ff0000;
            text-align: center;
        }

        #table-tickets .td-status-red2 {
            font-size: 14.0pt;
            font-family: Wingdings;
            color: #ff0000;
            text-align: center;
            border: solid #ff0000 1.0pt;
        }

        #table-tickets .td-origemEquipa {
            font-size: 14.0pt;
            font-family: Wingdings;
            color: #ff0000;
            text-align: center;
        }
    </style>
</head>
<div class="div-container">
    <div class="div-titulo">
        <p><span>Caros,</span></p>
        <p><span>A situação dos tickets, à data de <%if(status.endDate !== undefined){%><%=status.endDate.toLocaleString('pt-PT') %><%};%> é:</span></p>
    </div>
    <div class="div-tabela">
        <table id="table-tickets">
            <thead>
                <tr>
                    <th> </th>
                    <th>ID</th>
                    <th>Ambiente</th>
                    <th>Grupo Atribuído</th>
                    <th>Recurso Atribuído</th>
                    <th>Data<br>Abertura</th>
                    <th>Idade<br>(Dias)</th>
                    <th>Última<br>Interação</th>
                    <th>Dias<br>Parado</th>
                    <th>Origem do<br>Pedido</th>
                    <th>Origem na<br>Equipa</th>
                </tr>
            </thead>
            <tbody>
                <% if (tickets.length> 0) { %>
                    <% tickets.forEach(ticket=> { %>
                        <tr>
                            <td class="<%= ticket.statusStyle %>">
                                <%= ticket.status %>
                            </td>
                            <td>
                                <%= ticket.id %>
                            </td>
                            <td>
                                <%= ticket.ambiente %>
                            </td>
                            <td>
                                <%= ticket.grupoAtribuido %>
                            </td>
                            <td>
                                <%= ticket.recursoAtribuido %>
                            </td>
                            <td>
                                <%= ticket.dataAbertura %>
                            </td>
                            <td>
                                <%= ticket.idade %>
                            </td>
                            <td>
                                <%= ticket.ultimaInteracao %>
                            </td>
                            <td>
                                <%= ticket.diasParado %>
                            </td>
                            <td>
                                <%= ticket.origemPedido %>
                            </td>
                            <td class="td-origemEquipa">
                                <%= ticket.origemEquipa %>
                            </td>
                        </tr>
                        <% }); %>
                            <% } %>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <%=tickets.length%> tickets
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="div-graficos">
        <br>
        <img src="<%=imagePath%>" width="1429">                
        <br>
    </div>
    <div class="div-observacoes">
        <p><span>Especial atenção aos <b>tickets mais antigos</b> e aos<b> tickets com origem na equipa</b> .</span></p>
        <ul>
            <li>
                <p><span>Para os tickets com origem na equipa e que estejam resolvidos ou já não sejam necessários,
                        cancelem, sff o REQUEST</span></p>
            </li>
            <li>
                <p><span>Para os tickets com origem na equipa e que se encontram em curso, coloquem as informaçõess
                        necessárias e enviem para a equipa respetiva para seguimento</span></p>
            </li>
            <li>
                <p><span>Para os tickets com origem fora da equipa com origem na DSI (visa ITSM) e que já não sejam
                        necessários, fechem com o estado CANCELLED e motivo NO LONGER NEEDED</span></p>
            </li>
            <li>
                <p><span>Para os tickets com origem fora da equipa com origem fora da DSI (visa EASYFLOW) e que já não
                        sejam necessários, fechem com o estado COMPLETED e com “Já não é necessário. Cancelar o
                        EASYFLOW.” no campo RESOLUTION</span></p>
            </li>
            <li>
                <p><span>Para os tickets com origem fora da equipa e que estão resolvidos, fechem com o estado RESOLVED
                        (os incidentes) ou COMPLETED (as workorders)</span></p>
            </li>
            <li>
                <p><span>Para os tickets com origem fora da equipa e que se encontram em curso, deixem estar na equipa e
                        se possível atribuam ao recurso correto ( caso não esteja já … e tentem dar seguimento ASAP!
                        )</span></p>
            </li>
        </ul>
    </div>
    <div class="div-rodape">    
    </div>
</div>